<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { titulo }) %>
  </head>
  <body>
    <header class="my-4 ms-2">
      <h1><%= titulo %></h1>
    </header>

    <%- include('../partials/menu', { menu }) %>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 pt-3" style="background-image: url('https://world-schools.com/wp-content/uploads/2021/03/Top-Online-High-Schools-USA-2000x746-1-1024x382.jpg');">
          <h2 class="ps-2 py-2" style="background: rgba(0,0,0, 0.4); color: #fff;">Alunos nota 10</h2>
          <ol style="background: rgba(0,0,0, 0.8); color: #fff;">
            <li>Joaozinho</li>
            <li>Joaozinho</li>
            <li>Joaozinho</li>
            <li>Joaozinho</li>
            <li>Joaozinho</li>
            <li>Joaozinho</li>
          </ol>
        </div>
        <div class="col-12 col-md-4">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text">
                Seu endereço de email 
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Senha</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Lembrar-me</label
              >
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
