<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { titulo }) %>
</head>
<body>
    <%- include('../partials/menu', { menu }) %>

    <h1>Sobre nossa escola</h1>
    <div>
        <h2>Matriculas</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis reiciendis laborum nesciunt adipisci dolorem odit maiores. Earum dolore aperiam voluptates error? Rerum consectetur non eos, excepturi eligendi numquam fugiat expedita!
        </p>
    </div>
</body>
</html>