<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Revisão dia 10 de Maio</title>
  <link rel="stylesheet" href="../public/index.css" />
</head>
<body>
<div>
  <h1>Lista de tarefas</h1>
</div>
<div>
  <ul>
    <li>
      <h3>Tarefa 1</h3>
      <div>
        Estudar Javascript
      </div>
      <button title="Excluir tarefa">X</button>
    </li>
    <li>
      <h3>Tarefa 2</h3>
      <div>
        Praticar exercícios
      </div>
    </li>
  </ul>
</div>

<div id="alerta-msg" class="alert">

</div>

<form method="post">
  <div>
    <label>Titulo da tarefa</label>
    <input id="titulo" type="text" name="titulo" title="Titulo da tarefa" placeholder="Digite o titulo da tarefa" required />
    <span class="span-info">Minimo 3 caracteres</span>
  </div>
  <div>
    <label>Descrição da tarefa</label>
    <textarea id="descricao" name="descricao" placeholder="Digite a descrição da tarefa" required></textarea>
    <span>Minimo 10 caracteres</span>
  </div>
  <div>
    <button id="btn-salvar" type="button" disabled>Salvar</button>
  </div>
</form>
<script src="../public/index.js"></script>
</body>
</html>
      