<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos Lista</title>
    <script type="text/javascript" src="indexFront.js"></script>
</head>
<body>
    <%- include('partials/cabecalho', { tituloCabecalho }) %>

    <nav>
        <ul>
            <li>
                <a href="/cadastro" title="Cadastro">Cadastro</a>
            </li>
        </ul>
    </nav>

    <%- include('partials/alerta') %>

    <div>
        Página index
    </div>


</body>
</html>