<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos Lista</title>
    <script type="text/javascript" src="indexFront.js"></script>
</head>
<body>
    <div>
        <h1>Lista de produtos</h1>
    </div>
    <div id="alerta" style="background-color: red; color: #fff; padding: 1% 2%;">
        
    </div>
</body>
</html>