* {
  margin: 0 auto;
}
body {
  margin: 0 auto;
  padding: 5% 2%;
  font-size: 1rem;
}

.container {
  
}

form {
  margin: 2% 0;
}

.form-input label {
  display: block;  
}

.form-input input {
  width: 100%;
  margin: 2% 0;
  padding: 2%;
}

form button {
  border: none;
  background-color: rgb(4, 128, 137);
  color: #fff;
  padding: 4%;
  font-size: 1rem;
}